/* Color Variables */

:root {
    --softRed: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --darkBrown: hsl(25, 47%, 15%);
    --mediumBrown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --veryPaleOrange: hsl(33, 100%, 98%);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: var(--cream);
}

.main {
    width: 100%;
    max-width: 343px;
    height: 534px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.balance {
    width: 100%;
    height: 97px;
    margin-bottom: 17px;
    background-color: var(--softRed);
    color: var(--veryPaleOrange);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.balance-intro {
    margin: 19px 0px 4px 20px;
    font-size: 15px;
    width: 33%;
}

.balance-amount {
    position: relative;
    margin-left: 20px;
    width: 32%;
}

.logo {
    display: inline-block;
    align-self: flex-end;
    position: relative;
    left: -23px;
    top: -47px;
    width: 18%;
}

.graph-container {
    background-color: var(--veryPaleOrange);
    border-radius: 10px;
}

.graph-header {
    margin: 5px 0px 0px 10px;
    color: var(--darkBrown);
    position: relative;
    left: 10px;
    top: 22px;
}

tbody {
    display: flex;
    align-items: flex-end;
    position: relative;
    left: -37px;
    top: -9px;
}


.amount {
    display: inline-block;
    width: 20px;
    height: 0;
    background-color: blue;
}


table {
    width: 107%;
    height: 307px;
    display: inline-block;
    position: relative;
    top: 76px;
    left: 43px;;
  }
  
tr {
    width: 12%;
    padding-left: 14px;
    margin-left: 1px;
}

td {
    text-align: center;
    color: var(--mediumBrown);
    font-size: 12px;
    padding: 9px 2px;
}

td.amount {
    width: 116%;
    background-color: var(--softRed);
    border-radius: 3px;
    font-size: 0;
}

tr:nth-of-type(3) > td.amount {
    background-color: var(--cyan);
}

.line-break {
    border-top: 1px solid var(--cream);
    position: relative;
    top: -32px;
    margin: 0px 22px 0 22px;
}

  